<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spiaa" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    android:configChanges="keyboardHidden|orientation|screenSize"
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_todos_boletins_diarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BoletimDiarioActivity"
            android:label="@string/title_activity_boletim_diario" />
        <activity
            android:name=".activity.AtividadeActivity"
            android:label="@string/title_activity_atividade" />
        <activity
            android:name=".activity.TodasAtividadesActivity"
            android:label="@string/title_activity_todas_atividades"
            android:parentActivityName=".activity.MainActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SincronizarActivity"
            android:label="@string/title_activity_sincronizar"
            android:theme="@style/AppTheme.NoActionBar" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity android:name=".activity.DenunciaActivity" />
        <activity
            android:name=".activity.GPSActivity"
            android:label="@string/title_activity_gps" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activity.TodosCriadourosActivity" />

    </application>

</manifest>
